/* 共通のスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
  margin-right: 70px;
}

#sidebar-toggle {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Main Content */
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  border-left: solid 10px #AFDFE4;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Screen Table */
.screen-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.screen-table td {
  padding: 10px;
  text-align: center;
}

.screen-link {
  display: inline-block;
  text-decoration: none;
}

.screen {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.screen:hover {
  background-color: #ddd;
}

.screen-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.screen-info {
  color: #666;
}

.topga{
  width: 800px;
  height: 400px;
}

/* sisetu.css */

.topjo:hover img {
background-color: #fff;
  opacity: 0.7;

  filter: alpha(opacity=70);

  -ms-filter: "alpha(opacity=70)";
}

/* 追加されたCSS */
a.topjo:hover {
  background-color: #fff;
  opacity: 0.7;

  filter: alpha(opacity=70);

  -ms-filter: "alpha(opacity=70)";
}


/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

.cinema-image {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}

.gyoukan {
  font-size: 16px;
  line-height: 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #555;
}

.image-text-container {
  display: flex;
  align-items: flex-start;
}

.image-text-container img {
  width: 300px;
  margin-right: 20px;
}

.image-text-container .text {
  margin-top: 5px;
  margin-left: 20px;
}

.address {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
}








    /* 追加されたCSS */
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100vh;
      background-color: #333;
      color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .sidebar a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 10px;
    }

    .sidebar a:hover {
      text-decoration: underline;
    }

.content {
  margin: 0 auto;
  max-width: 800px;
}

.m{
  margin: 0 500px 0 auto;
  font-size: 20px;
}









/* サイドメニューのスタイル */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease;
}

.show-sidebar {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}






    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .slider-item {
      text-align: center;
    }

/* スライダーのボタン */
.slick-prev,
.slick-next {
  display: none;
  font-size: 24px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

.slick-prev:before,
.slick-next:before {
  font-size: 0;
  line-height: 0;
  color: transparent;
  content: none;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

/* スライダーのボタンテキスト非表示 */
.slick-prev span,
.slick-next span {
  display: none;
}


.slick-prev {
  left: 20px;
}

.slick-prev:before {
  border-right: 10px solid #fff;
}

.slick-next {
  right: 20px;
}

.slick-next:before {
  border-left: 10px solid #fff;
}


    .slick-dots {
      position: relative;
      z-index: 3;
      text-align: center;
      margin: -50px 0 0 0;
    }

    .slick-dots li {
      display: inline-block;
      margin: 0 5px;
    }

    .slick-dots button {
      color: transparent;
      outline: none;
      width: 8px;
      height: 8px;
      display: block;
      border-radius: 50%;
      background: #fff;
    }

    .slick-dots .slick-active button {
      background: #333;
    }