.twitter {
  margin-bottom: 20px;
}

.twitter h2 {
  border-left: solid 10px #48edff;
  font-size: 20px;
  margin-bottom: 20px;
}
.twitter h2 p {
  padding-left: 10px;
}
/* Screen Table */
.screen-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.screen-table td {
  padding: 10px;
  text-align: center;
}

.screen-link {
  display: inline-block;
  text-decoration: none;
}

.screen {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.screen:hover {
  background-color: #ddd;
}

.screen-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.screen-info {
  color: #666;
}

.topga {
  width: 800px;
  height: 400px;
}

/* sisetu.css */

.topjo:hover img {
  background-color: #fff;
  opacity: 0.7;

  filter: alpha(opacity=70);

  -ms-filter: "alpha(opacity=70)";
}

/* 追加されたCSS */
a.topjo:hover {
  background-color: #fff;
  opacity: 0.7;

  filter: alpha(opacity=70);

  -ms-filter: "alpha(opacity=70)";
}

.gyoukan {
  font-size: 16px;
  line-height: 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #555;
}

.image-text-container {
  display: flex;
  align-items: flex-start;
}

.image-text-container img {
  width: 300px;
  margin-right: 20px;
}

.image-text-container .text {
  margin-top: 5px;
  margin-left: 20px;
}

.address {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item {
  text-align: center;
}

/* スライダーのボタン */
.slick-prev,
.slick-next {
  display: none;
  font-size: 24px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

.slick-prev:before,
.slick-next:before {
  font-size: 0;
  line-height: 0;
  color: transparent;
  content: none;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

/* スライダーのボタンテキスト非表示 */
.slick-prev span,
.slick-next span {
  display: none;
}

.slick-prev {
  left: 20px;
}

.slick-prev:before {
  border-right: 10px solid #fff;
}

.slick-next {
  right: 20px;
}

.slick-next:before {
  border-left: 10px solid #fff;
}

.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -50px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #fff;
}

.slick-dots .slick-active button {
  background: #333;
}

.twitter {
  margin-top: 80px;
}
