@charset "utf-8";
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* スクロールバーを強制表示 */
body {
  overflow-y: scroll;
}
