#facility-info {
  border-left: solid 10px #48edff;
  padding: 10px;
  margin-bottom: 20px;
}

.price {
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
}
.priceinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #9ca3af;
}
.priceinfolast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.priceinfo p {
  font-size: 1.2rem;
}
.priceinfolast p {
  font-size: 1.2rem;
}

.note p {
  padding-left: 10px;
  font-size: 1.3rem;
  color: red;
  margin-bottom: 30px;
}
