.con {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: #fff;
  width: 600px;
  margin-top: 150px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.register-title {
  border-left: solid 10px #888888;
  padding: 10px 0 10px 10px;
  margin: 0px 0 10px 0px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}
.register-link {
  text-align: center;
  font-size: 1.4rem;
}

/* エラーメッセージのスタイル */
.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 1rem;
}
