.screen-table {
  display: flex;
  justify-content: space-around;
}

.screen-table a {
  width: 200px;
  background-color: #eee;
  text-decoration: none;
  text-align: center;
  color: #333;
  padding: 20px;
  border: 2px solid #9ca3af;
  border-radius: 4px;
}
.screen-table a:hover {
  background-color: cornflowerblue;
  color: #fff;
  border: 2px solid cornflowerblue;
}

.facility-info {
  padding: 7px;
  margin: 20px 0 10px 0;
  border-left: solid 10px #48edff;
}

.cinema-image {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}

.gyoukan {
  font-size: 16px;
  line-height: 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #555;
}

.image-text-container {
  display: flex;
  align-items: flex-start;
}

.image-text-container img {
  width: 300px;
  margin-right: 20px;
}

.image-text-container .text {
  margin-top: 5px;
  margin-left: 20px;
}

.accesscon {
  margin-bottom: 10px;
}

.accessname {
  font-size: 20px;
}

.address {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
}

.businesshours p {
  font-size: 20px;
}
